<%= form_with model: @image, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: "input-class" %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: "textarea-class" %>
  </div>
  <div>
    <%= f.label :file %>
    <%= f.file_field :file, class: "file-class" %>
  </div>
  <%= f.submit "Upload", class: "btn-class" %>
<% end %>
